<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto Flex:wght@300;500;700&display=swap"
    />
  </head>
  <body>
    <div class="frame-parent">
      <div class="theory-wrapper">
        <b class="theory">Theory</b>
      </div>
      <div class="russian-nouns-denoting-people-wrapper">
        <div class="russian-nouns-denoting-container">
          <p class="russian-nouns-denoting-people">
            <span class="russian-nouns-denoting">
              Russian nouns denoting people or animals (so-called animate nouns)
              answer the question
            </span>
            <span class="span">Кто это?</span>
            <span class="all-the-other"> </span>
          </p>
          <p class="russian-nouns-denoting-people">
            <span class="all-the-other"
              >All the other nouns(so-called inanimate nouns) answer the
              question
            </span>
            <span class="span">Что это?</span>
            <span class="russian-nouns-denoting"> </span>
          </p>
          <p class="the-questions">
            The questions Кто это? and Что это? are asked about nouns either in
            the singular or the plural.
          </p>
          <p class="the-questions">&nbsp;</p>
          <p class="the-questions">
            Russian nouns are grouped according to gender:
          </p>
          <ul class="masculine-feminine-neuter">
            <li class="masculine">
              <span class="russian-nouns-denoting">Masculine</span>
            </li>
            <li class="masculine">
              <span class="russian-nouns-denoting">Feminine</span>
            </li>
            <li class="masculine">
              <span class="russian-nouns-denoting">Neuter</span>
            </li>
          </ul>
          <p class="the-questions">&nbsp;</p>
          <p class="remember">Masculine</p>
          <p class="the-questions">
            Слова мужского рода часто оканчиваются на согласный. Masculine words
            end in a consonant:
          </p>
          <p class="the-questions">до-м сто-л никола-й</p>
          <p class="the-questions">&nbsp;</p>
          <p class="remember">Feminine</p>
          <p class="the-questions">
            Слова женского рода часто окачиваются на -а,-я. Feminine words end
            in -a,-я.
          </p>
          <p class="the-questions">вод-а школ-а истори-я</p>
          <p class="the-questions">&nbsp;</p>
          <p class="remember">Neuter</p>
          <p class="the-questions">
            Слова средного рода часто oкачиваются на -о,-е. Neuter words end in
            -o,-e.
          </p>
          <p class="the-questions">окн-о мор-е здани-е</p>
          <p class="the-questions">&nbsp;</p>
          <p class="remember">Запомните! Remember!</p>
          <p class="remember">&nbsp;</p>
          <ul class="masculine-feminine-neuter">
            <li class="masculine">
              <span class="russian-nouns-denoting"
                >Слова, оканчивающиеся на мягкий знак (ь), могут быть мужского и
                женского рода.</span
              >
            </li>
          </ul>
          <p class="the-questions">
            There are nouns of both masculine and feminine gender ending in a
            soft sign (ь).
          </p>
          <ul class="masculine-feminine-neuter">
            <li class="masculine">
              <span class="russian-nouns-denoting"
                >Мужской род (он) - Masculine (he)</span
              >
            </li>
          </ul>
          <p class="the-questions">ден-ь словар-ь апрел-ь</p>
          <ul class="masculine-feminine-neuter">
            <li class="masculine">
              <span class="russian-nouns-denoting"
                >Женский род (она) - Feminine (she)</span
              >
            </li>
          </ul>
          <p class="the-questions">жизн-ь мат-ь доч-ь</p>
          <ul class="masculine-feminine-neuter">
            <li class="masculine">
              <span class="russian-nouns-denoting"
                >Некоторые слова мужского рода оканчиваются на -а, -я. There are
                masculine nouns ending in -a, -я.</span
              >
            </li>
          </ul>
          <p class="the-questions">пап-а дяд-я юнош-а</p>
          <ul class="masculine-feminine-neuter">
            <li class="masculine">
              <span class="russian-nouns-denoting"
                >Слова, оканчивающиеся на –мя, средного рода. There are neuter
                nouns ending in -мя.</span
              >
            </li>
          </ul>
          <p class="the-questions">имя время пламя</p>
          <p class="blank-line6">&nbsp;</p>
        </div>
      </div>
    </div>
  </body>
</html>
